<!DOCTYPE html>

<html lang="english">
  <head>
    <title>Your boards</title>
    <meta property="twitter:card" content="summary_large_image" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}
    </style>
    <style>
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="/../../static/css/desktop319816620.css" rel="stylesheet" />

      <div class="desktop319816620-container">
        <div class="desktop319816620-desktop319816620">
          <div class="desktop319816620-image"></div>
          <img
            alt="Vector2119816630"
            src="/../../static/public/playground_assets/vector2119816630-buhk.svg"
            class="desktop319816620-svg"
          />
          <img
            src="/../../static/public/playground_assets/akariconssearch19816631-salb.svg"
            alt="akariconssearch19816631"
            class="desktop319816620-image01"
          />
          <img
            src="/../../static/public/playground_assets/rectangle3919816633-opk.svg"
            alt="Rectangle3919816633"
            class="desktop319816620-image02"
          />
          <img
            alt="Ellipse6119816634"
            src="/../../static/public/playground_assets/ellipse6119816634-xcc.svg"
            class="desktop319816620-svg01"
          />
          <img
            alt="Ellipse6219816635"
            src="/../../static/public/playground_assets/ellipse6219816635-gj.svg"
            class="desktop319816620-svg02"
          />
          <img
            alt="Ellipse6319816636"
            src="/../../static/public/playground_assets/ellipse6319816636-np7g.svg"
            class="desktop319816620-svg03"
          />
          <img
            alt="Ellipse6419816637"
            src="/../../static/public/playground_assets/ellipse6419816637-ujyl.svg"
            class="desktop319816620-svg04"
          />
          <img
            src="/../../static/public/playground_assets/group19816638-fuua.svg"
            alt="Group19816638"
            class="desktop319816620-image03"
          />
          <img
            alt="Vector19816641"
            src="/../../static/public/playground_assets/vector19816641-j8ya.svg"
            class="desktop319816620-svg05"
          />
          <img
            alt="Vector19816642"
            src="/../../static/public/playground_assets/vector19816642-vlge.svg"
            class="desktop319816620-svg06"
          />
          <span class="desktop319816620-text">Здравствуйте, Артем</span>
          <img
            alt="Vector2219816644"
            src="/../../static/public/playground_assets/vector2219816644-xmk.svg"
            class="desktop319816620-svg07"
          />
          <div class="desktop319816620-image04"></div>
          <span class="desktop319816620-text01">11%</span>
          <img
            alt="Vector1319816648"
            src="/../../static/public/playground_assets/vector1319816648-23hj.svg"
            class="desktop319816620-svg08"
          />
          <img
            src="/../../static/public/playground_assets/rectangle3219816649-u32.svg"
            alt="Rectangle3219816649"
            class="desktop319816620-image05"
          />
          <img
            src="/../../static/public/playground_assets/rectangle3319816650-a2gn.svg"
            alt="Rectangle3319816650"
            class="desktop319816620-image06"
          />
          <span class="desktop319816620-text02">Бронь</span>
          <span class="desktop319816620-text03">7</span>
          <span class="desktop319816620-text04">9</span>
          <span class="desktop319816620-text05">Готовые</span>
          <span class="desktop319816620-text06">
            Проект для Global J. создание и запуск нескольких сайтов
          </span>
          <img
            alt="Vector2319816656"
            src="/../../static/public/playground_assets/vector2319816656-jrd.svg"
            class="desktop319816620-svg09"
          />
          <div class="desktop319816620-image07"></div>
          <div class="desktop319816620-image08"></div>
          <img
            alt="Vector2619816659"
            src="/../../static/public/playground_assets/vector2619816659-qj6.svg"
            class="desktop319816620-svg10"
          />
          <span class="desktop319816620-text07">100%</span>
          <img
            alt="Vector2419816661"
            src="/../../static/public/playground_assets/vector2419816661-dtyh.svg"
            class="desktop319816620-svg11"
          />
          <img
            src="/../../static/public/playground_assets/rectangle4319816662-nnbi.svg"
            alt="Rectangle4319816662"
            class="desktop319816620-image09"
          />
          <img
            src="/../../static/public/playground_assets/rectangle4419816663-rxq.svg"
            alt="Rectangle4419816663"
            class="desktop319816620-image10"
          />
          <span class="desktop319816620-text08">Бронь</span>
          <span class="desktop319816620-text09">1</span>
          <span class="desktop319816620-text10">21</span>
          <span class="desktop319816620-text11">Готовые</span>
          <span class="desktop319816620-text12">
            Проект для Nasa создание приложения и двух сайтов
          </span>
          <img
            alt="Vector2519816669"
            src="/../../static/public/playground_assets/vector2519816669-rw86.svg"
            class="desktop319816620-svg12"
          />
          <img
            src="/../../static/public/playground_assets/rectangle4619816670-ngsc.svg"
            alt="Rectangle4619816670"
            class="desktop319816620-image11"
          />
          <div class="desktop319816620-akariconsbell19816671">
            <img
              src="/../../static/public/playground_assets/group19816672-ylt8.svg"
              alt="Group19816672"
              class="desktop319816620-image12"
            />
          </div>
          <img
            alt="Ellipse2119816675"
            src="/../../static/public/playground_assets/ellipse2119816675-sify.svg"
            class="desktop319816620-svg13"
          />
          <img
            src="/../../static/public/playground_assets/iconparkoutlineavatar19816676-klq4.svg"
            alt="iconparkoutlineavatar19816676"
            class="desktop319816620-image13"
          />
          <span class="desktop319816620-text13">Колганов Артем</span>
          <img
            alt="Vector2719816679"
            src="/../../static/public/playground_assets/vector2719816679-4t67.svg"
            class="desktop319816620-svg14"
          />
          <img
            alt="Ellipse2219816680"
            src="/../../static/public/playground_assets/ellipse2219816680-9adq.svg"
            class="desktop319816620-svg15"
          />
          <img
            alt="Ellipse2219816680"
            src="/../../static/public/playground_assets/ellipse2219816680-9adq.svg"
            class="desktop319816620-svg16"
          />
          <span class="desktop319816620-text14">@ivansurov</span>
          <span class="desktop319816620-text15">
            <span>Сдано: не вовремя</span>
            <br />
            <span>Причина: num.1</span>
          </span>
          <img
            src="/../../static/public/playground_assets/rectangle4819816683-h2f.svg"
            alt="Rectangle4819816683"
            class="desktop319816620-image14"
          />
          <span class="desktop319816620-text19">#Python</span>
          <span class="desktop319816620-text20">programmer</span>
          <img
            alt="Ellipse2419816692"
            src="/../../static/public/playground_assets/ellipse2419816692-624y.svg"
            class="desktop319816620-svg17"
          />
          <span class="desktop319816620-text21">@innadaiser</span>
          <span class="desktop319816620-text22">
            <span>Сдано: вовремя</span>
            <br />
            <span>Причина: -</span>
          </span>
          <img
            src="/../../static/public/playground_assets/rectangle4919816689-yzjs.svg"
            alt="Rectangle4919816689"
            class="desktop319816620-image15"
          />
          <span class="desktop319816620-text26">#SQL</span>
          <span class="desktop319816620-text27">programmer</span>
          <span class="desktop319816620-text28">@sergpolov</span>
          <span class="desktop319816620-text29">
            <span>Сдано: не вовремя</span>
            <br />
            <span>Причина: num.2</span>
          </span>
          <img
            src="/static/public/playground_assets/rectangle5019816695-x9nu.svg"
            alt="Rectangle5019816695"
            class="desktop319816620-image16"
          />
          <span class="desktop319816620-text33">#Figma</span>
          <span class="desktop319816620-text34">designer</span>
          <span class="desktop319816620-text35">@alexsvord</span>
          <span class="desktop319816620-text36">
            <span>Сдано: вовремя</span>
            <br />
            <span>Причина: -</span>
          </span>
          <img
            src="/../../static/public/playground_assets/rectangle5119816701-5m9.svg"
            alt="Rectangle5119816701"
            class="desktop319816620-image17"
          />
          <span class="desktop319816620-text40">#Photoshop</span>
          <span class="desktop319816620-text41">designer</span>
          <img
            alt="Ellipse2419816692"
            src="/../../static/public/playground_assets/ellipse2419816692-624y.svg"
            class="desktop319816620-svg18"
          />
          <img
            alt="Ellipse2419816692"
            src="/../../static/public/playground_assets/ellipse2419816692-624y.svg"
            class="desktop319816620-svg19"
          />
          <span class="desktop319816620-text42">@olgafrolova</span>
          <span class="desktop319816620-text43">
            <span>Сдано: не вовремя</span>
            <br />
            <span>Причина: num.3</span>
          </span>
          <img
            src="/../../static/public/playground_assets/rectangle5219816707-lv4j.svg"
            alt="Rectangle5219816707"
            class="desktop319816620-image18"
          />
          <span class="desktop319816620-text47">#C++</span>
          <span class="desktop319816620-text48">programmer</span>
          <span class="desktop319816620-text49">Последние сдачи</span>
          <img
            alt="Vector2819816711"
            src="/../../static/public/playground_assets/vector2819816711-e7qn.svg"
            class="desktop319816620-svg20"
          />
          <img
            alt="Vector19816712"
            src="/../../static/public/playground_assets/vector19816712-b08.svg"
            class="desktop319816620-svg21"
          />
          <div class="desktop319816620-image19"></div>
          <img
            alt="Vector1319816623"
            src="/../../static/public/playground_assets/vector1319816623-09ut8.svg"
            class="desktop319816620-svg22"
          />
          <img
            alt="Vector2019816624"
            src="/../../static/public/playground_assets/vector2019816624-go9b.svg"
            class="desktop319816620-svg23"
          />
          <span class="desktop319816620-text50">Статистика</span>
          <span class="desktop319816620-text51">Календарь</span>
          <span class="desktop319816620-text52">Задачи</span>
          <span class="desktop319816620-text53">Настройки</span>
          <img
            src="/../../static/public/playground_assets/rectangle4019816645-n3dd.svg"
            alt="Rectangle4019816645"
            class="desktop319816620-image20"
          />
          <span class="desktop319816620-text54">Доски</span>
        </div>
      </div>
    </div>
  </body>
</html>
