<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html lang="english">
  <head>
    <title>Welcome to ParaPlan!</title>
    <meta property="twitter:card" content="summary_large_image" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {  margin: 0;  padding: 0;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}
    </style>
    <style>
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    />
    <link rel="stylesheet" href="/../static/public/style.css" />
  </head>
  <body>
    <div>
      <link href="/../static/css/desktop11807306.css" rel="stylesheet" />

      <div class="desktop11807306-container">
          <div class="desktop11807306-desktop11807306">
              <img alt="pngwing218716591"
                   src="/../static/public/playground_assets/pngwing218716591-84ws-600h.png"
                   class="desktop11807306-image" />
              <img alt="pngwing419816619"
                   src="/../static/public/playground_assets/pngwing419816619-bc9i-1500h.png"
                   class="desktop11807306-image01" />
              <img alt="pngwing519816780"
                   src="/../static/public/playground_assets/pngwing519816780-muo5-1500h.png"
                   class="desktop11807306-image02" />
              <img alt="pngwing720916830"
                   src="/../static/public/playground_assets/pngwing720916830-p9ie-1500h.png"
                   class="desktop11807306-image03" />
              <img alt="pngwing318716592"
                   src="/../static/public/playground_assets/pngwing318716592-mmn-600h.png"
                   class="desktop11807306-image04" />
              <img alt="pngwing619816781"
                   src="/../static/public/playground_assets/pngwing619816781-ny0o-1500h.png"
                   class="desktop11807306-image05" />
              <img alt="Vector2919816785"
                   src="/../static/public/playground_assets/vector2919816785-80ie.svg"
                   class="desktop11807306-svg" />
              <img alt="Ellipse6519816779"
                   src="/../static/public/playground_assets/ellipse6519816779-fbc8.svg"
                   class="desktop11807306-svg01" />
              <img alt="Ellipse6619816782"
                   src="/../static/public/playground_assets/ellipse6619816782-gxy8.svg"
                   class="desktop11807306-svg02" />
              <img alt="Ellipse6719816783"
                   src="/../static/public/playground_assets/ellipse6719816783-c7m.svg"
                   class="desktop11807306-svg03" />
              <img alt="Ellipse6819816784"
                   src="/../static/public/playground_assets/ellipse6819816784-epa4.svg"
                   class="desktop11807306-svg04" />
              <img alt="Ellipse8821618027"
                   src="/../static/public/playground_assets/ellipse8821618027-q25w.svg"
                   class="desktop11807306-svg05" />
              <div class="desktop11807306-image06"></div>
              <div class="desktop11807306-image07"></div>
              <div class="desktop11807306-image08"></div>
              <img alt="Ellipse21817308"
                   src="/../static/public/playground_assets/ellipse21817308-bk87.svg"
                   class="desktop11807306-svg06" />
              <img alt="Ellipse31827309"
                   src="/../static/public/playground_assets/ellipse31827309-g3nb.svg"
                   class="desktop11807306-svg07" />
              <img alt="Ellipse41827312"
                   src="/../static/public/playground_assets/ellipse41827312-poke.svg"
                   class="desktop11807306-svg08" />
              <img alt="Ellipse81827321"
                   src="/../static/public/playground_assets/ellipse81827321-n736.svg"
                   class="desktop11807306-svg09" />
              <img alt="Ellipse51827313"
                   src="/../static/public/playground_assets/ellipse51827313-7wqd.svg"
                   class="desktop11807306-svg10" />
              <img alt="Ellipse61827314"
                   src="/../static/public/playground_assets/ellipse61827314-qqqc.svg"
                   class="desktop11807306-svg11" />
              <img alt="Ellipse71827315"
                   src="/../static/public/playground_assets/ellipse71827315-8ulv.svg"
                   class="desktop11807306-svg12" />
              <div class="desktop11807306-container1">
                  <img alt="Vector71847328"
                       src="/../static/public/playground_assets/vector71847328-viyd.svg"
                       class="desktop11807306-svg13" />
                  <img alt="Vector101847331"
                       src="/../static/public/playground_assets/vector101847331-svnf.svg"
                       class="desktop11807306-svg14" />
                  <img alt="Vector91847330"
                       src="/../static/public/playground_assets/vector91847330-uvy.svg"
                       class="desktop11807306-svg15" />
                  <img alt="Vector81847329"
                       src="/../static/public/playground_assets/vector81847329-vdy.svg"
                       class="desktop11807306-svg16" />
                  <img alt="Vector111847332"
                       src="/../static/public/playground_assets/vector111847332-mer.svg"
                       class="desktop11807306-svg17" />
                  <img alt="Vector121857333"
                       src="/../static/public/playground_assets/vector121857333-ocq9.svg"
                       class="desktop11807306-svg18" />
                  <img alt="Vector1318716584"
                       src="/../static/public/playground_assets/vector1318716584-hrq.svg"
                       class="desktop11807306-svg19" />
              </div>
              <img alt="Vector1418716585"
                   src="/../static/public/playground_assets/vector1418716585-aeg4.svg"
                   class="desktop11807306-svg20" />
              <img alt="Ellipse11807307"
                   src="/../static/public/playground_assets/ellipse11807307-36p.svg"
                   class="desktop11807306-svg21" />
              <img alt="Rectangle5621216861"
                   src="/../static/public/playground_assets/rectangle5621216861-mk9q-200h.png"
                   class="desktop11807306-image09" />
              <span class="desktop11807306-text">Попробовать</span>
              <img alt="Rectangle5721216869"
                   src="/../static/public/playground_assets/rectangle5721216869-ad5n-200h.png"
                   class="desktop11807306-image10" />
              <span class="desktop11807306-text01">Попробовать</span>
              <span class="desktop11807306-text02">90500</span>
              <img alt="phcurrencyrubbold21216875"
                   src="/../static/public/playground_assets/phcurrencyrubbold21216875-89oa.svg"
                   class="desktop11807306-image11" />
              <img alt="Rectangle2721216851"
                   src="/../static/public/playground_assets/rectangle2721216851-ou9y-200h.png"
                   class="desktop11807306-image12" />
              <span class="desktop11807306-text03">Попробовать</span>
              <img alt="iMacProRightSideViewMockuplabel19816718"
                   src="/../static/public/playground_assets/imacprorightsideviewmockuplabel19816718-5m3.svg"
                   class="desktop11807306-svg22" />
              <img alt="iPhone8SpaceGraySideViewMockuplabel19816777"
                   src="/../static/public/playground_assets/iphone8spacegraysideviewmockuplabel19816777-gh8p.svg"
                   class="desktop11807306-svg23" />
              <span class="desktop11807306-text04">
                  <marquee direction="left">
                      АНАЛИТИКА БРОНИРОВАНИЕ КАЛЕНДАРЬ ОТЧЕТЫ АНАЛИТИКА БРОНИРОВАНИЕ КАЛЕНДАРЬ ОТЧЕТЫ АНАЛИТИКА БРОНИРОВАНИЕ КАЛЕНДАРЬ ОТЧЕТЫ АНАЛИТИКА БРОНИРОВАНИЕ КАЛЕНДАРЬ ОТЧЕТЫ АНАЛИТИКА БРОНИРОВАНИЕ КАЛЕНДАРЬ ОТЧЕТЫ
                  </marquee>
              </span>

              <img alt="Vector3020416787"
                   src="/../static/public/playground_assets/vector3020416787-q88g.svg"
                   class="desktop11807306-svg24" />
              <span class="desktop11807306-text05">ParaPlan</span>
              <img alt="Vector3120616793"
                   src="/../static/public/playground_assets/vector3120616793-ux5e.svg"
                   class="desktop11807306-svg25" />
              <span class="desktop11807306-text06">Особенности</span>
              <span class="desktop11807306-text07">Цены</span>
              <span class="desktop11807306-text08">Помощь</span>
              <span class="desktop11807306-text09">Вакансии</span>
              <span class="desktop11807306-text10">Файлы cookie</span>
              <img alt="pngwing20716816"
                   src="/../static/public/playground_assets/pngwing20716816-8g4-200h.png"
                   class="desktop11807306-image13" />
              <img alt="pngwing20716817"
                   src="/../static/public/playground_assets/pngwing20716817-2osb-300w.png"
                   class="desktop11807306-image14" />
              <img alt="Vector20716823"
                   src="/../static/public/playground_assets/vector20716823-6yyb.svg"
                   class="desktop11807306-svg26" />
              <img alt="Vector20716824"
                   src="/../static/public/playground_assets/vector20716824-9api.svg"
                   class="desktop11807306-svg27" />
              <img alt="Vector20716825"
                   src="/../static/public/playground_assets/vector20716825-yz8u.svg"
                   class="desktop11807306-svg28" />
              <img alt="akariconswhatsappfill20716820"
                   src="/../static/public/playground_assets/akariconswhatsappfill20716820-6nrc.svg"
                   class="desktop11807306-image15" />
              <img alt="Vector20716819"
                   src="/../static/public/playground_assets/vector20716819-lfkf.svg"
                   class="desktop11807306-svg29" />
              <img alt="brandicotwitterbird20716826"
                   src="/../static/public/playground_assets/brandicotwitterbird20716826-tuim.svg"
                   class="desktop11807306-image16" />
              <img alt="Vector20716829"
                   src="/../static/public/playground_assets/vector20716829-jum.svg"
                   class="desktop11807306-svg30" />
              <img alt="Vector3220916831"
                   src="/../static/public/playground_assets/vector3220916831-r6bv.svg"
                   class="desktop11807306-svg31" />
              <span class="desktop11807306-text11">Бесплатно</span>
              <span class="desktop11807306-text12">
                  Бесплатный пробный 14-дневный период
              </span>
              <span class="desktop11807306-text13">в месяц</span>
              <span class="desktop11807306-text14">в месяц</span>
              <span class="desktop11807306-text15">в месяц</span>
              <span class="desktop11807306-text16">0</span>
              <img alt="phcurrencyrubbold21216849"
                   src="/../static/public/playground_assets/phcurrencyrubbold21216849-6awb.svg"
                   class="desktop11807306-image17" />
              <span class="desktop11807306-text17">Бизнес план</span>
              <span class="desktop11807306-text18">
                  Объединение до 100 сотрудников
              </span>
              <span class="desktop11807306-text19">15500</span>
              <img alt="phcurrencyrubbold21216867"
                   src="/../static/public/playground_assets/phcurrencyrubbold21216867-y3z.svg"
                   class="desktop11807306-image18" />
              <span class="desktop11807306-text20">Бизнес +</span>
              <span class="desktop11807306-text21">
                  Объединение более 1000 сотрудников
              </span>
              <img alt="Vector3321216877"
                   src="/../static/public/playground_assets/vector3321216877-i32h.svg"
                   class="desktop11807306-svg32" />
              <div class="desktop11807306-image19"></div>
              <div class="desktop11807306-image20"></div>
              <div class="desktop11807306-image21"></div>
              <div class="desktop11807306-image22"></div>
              <img alt="Vector5121618005"
                   src="/../static/public/playground_assets/vector5121618005-l0q.svg"
                   class="desktop11807306-svg33" />
              <img src="/../static/public/playground_assets/vector5221618006-jcz.svg"
                   class="desktop11807306-svg34" />
              <img alt="Vector5321618007"
                   src="/../static/public/playground_assets/vector5321618007-c2po.svg"
                   class="desktop11807306-svg35" />
              <img alt="Vector5421618008"
                   src="/../static/public/playground_assets/vector5421618008-blge.svg"
                   class="desktop11807306-svg36" />
              <img alt="Vector5521618009"
                   src="/../static/public/playground_assets/vector5521618009-xv7r.svg"
                   class="desktop11807306-svg37" />
              <img alt="Vector5621618010"
                   src="/../static/public/playground_assets/vector5621618010-chfn.svg"
                   class="desktop11807306-svg38" />
              <img alt="Vector5721618011"
                   src="/../static/public/playground_assets/vector5721618011-i8l.svg"
                   class="desktop11807306-svg39" />
              <img alt="Vector5821618012"
                   src="/../static/public/playground_assets/vector5821618012-978.svg"
                   class="desktop11807306-svg40" />
              <div class="desktop11807306-image23"></div>
              <span class="desktop11807306-text22">11%</span>
              <img alt="Vector2921618018"
                   src="/../static/public/playground_assets/vector2921618018-guht.svg"
                   class="desktop11807306-svg41" />
              <img alt="Rectangle5421618019"
                   src="/../static/public/playground_assets/rectangle5421618019-ocfp.svg"
                   class="desktop11807306-image24" />
              <img alt="Rectangle5521618020"
                   src="/../static/public/playground_assets/rectangle5521618020-arr.svg"
                   class="desktop11807306-image25" />
              <span class="desktop11807306-text23">Бронь</span>
              <span class="desktop11807306-text24">7</span>
              <span class="desktop11807306-text25">9</span>
              <span class="desktop11807306-text26">Готовые</span>
              <span class="desktop11807306-text27">
                  Проект для Global J. создание и запуск нескольких сайтов
              </span>
              <img alt="Vector3021618026"
                   src="/../static/public/playground_assets/vector3021618026-8j8i.svg"
                   class="desktop11807306-svg42" />
              <img alt="Ellipse8921618028"
                   src="/../static/public/playground_assets/ellipse8921618028-704t.svg"
                   class="desktop11807306-svg43" />
              <img alt="Ellipse9021618029"
                   src="/../static/public/playground_assets/ellipse9021618029-lvkm.svg"
                   class="desktop11807306-svg44" />
              <img alt="Ellipse9121618030"
                   src="/../static/public/playground_assets/ellipse9121618030-ufp6.svg"
                   class="desktop11807306-svg45" />
              <img alt="Ellipse9221618031"
                   src="/../static/public/playground_assets/ellipse9221618031-e88k.svg"
                   class="desktop11807306-svg46" />
              <div class="text-container text-root-class-name">
                  <form method="post" action="/loggingpage"> <!-- назначить действие -->
                       <input type="submit" class="text-text" id="login-button" style="background: none;" value="Войти"/>
                  </form>
              </div>
              <span class="desktop11807306-text28">Демо</span>
              <img alt="Rectangle15121618038"
                   src="/../static/public/playground_assets/rectangle15121618038-qu9m-200h.png"
                   class="desktop11807306-image26" />
              <div class="desktop11807306-container2">
                  <form method="post" action="/loggingpage"> <!-- назначить то же действие -->
                      <img alt="Rectangle15221618039"
                           src="/../static/public/playground_assets/rectangle15221618039-o5zzj.svg"
                           class="desktop11807306-image27" />
                      <input type="submit" class="desktop11807306-text29" id="login-button2" value="Войти"/>
                  </form>
              </div>
              <span class="desktop11807306-text30">ParaPlan</span>
              <img alt="Vector118716587"
                   src="/../static/public/playground_assets/vector118716587-7tz4.svg"
                   class="desktop11807306-svg47" />
          </div>
      </div>
    </div>
  </body>
</html>
